body{
    background: url("http://localhost/projet_tutorat2/public/images/pexels-photo-160107.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.z-depth-5{
    background-color: grey;
    margin: 10%;


    
}
.card-title{
    text-align: center;
}
.card-action{

    text-align: center;
}
.tableDemande td.description{
    word-break:break-all;
}
.datepicker-day-button{
    color: grey !important;
}