
body{
    margin:0;
    background-image: url("http://localhost/projet_tutorat2/public/images/website-login-background.jpg");
}
.card-title{

    text-align: center;
}
.card-action{

    text-align: center;
}
.card {
    margin: auto;
    margin-top: 100px;
    width: 400px;
}
